<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

    <h2>Cadastro de Vaga</h2>


    <form class="inline" method="post" th:object='${vaga}'>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Titulo da Vaga</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-default" th:field='*{ds_titulo}' >
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Area de Atuação</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-default" th:field='*{cd_area}' >
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Codigo da Empresa</br> *Cod do Banco (vai ser implementado com o Login da empresa Posteriormente)</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-default" th:field='*{cd_empresa}' >
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Descrição da Vaga</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" th:field='*{ds_vaga}' ></textarea>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Descrição dos requisitos</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" th:field='*{ds_requisitos}' ></textarea>
        </div>
        <button type="submit"class="btn btn-success">Gravar</button>
    </form>

</div>
