<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Vagas de Estágio Disponiveis</h5>
                    <a href="/vagas" class="btn btn-primary">Ir para a página</a>
                </div>
            </div>
        </div>
        <div sec:authorize="hasRole('EMPRESA')" class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cadatro de Vagas de Estágio</h5>
                    <a href="/vagas/cadastro" class="btn btn-primary">Ir para a página</a>
                </div>
            </div>
        </div>
    </div>

</div>
