<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/vagas" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div sec:authorize="hasRole('EMPRESA')" class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/vagas/cadastro" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>
